* {
    margin: 0;
    padding: 0;
}

/* this is temporary */
button {
    padding: 0.5em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#calc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 120px;
    border: 2px solid rgb(107, 104, 104);
    padding: 10px;
    gap: 5px;
}

#display {
    flex-basis: 60px;
    min-width: 240px;
    background-color: rgb(174, 174, 174);
    margin-bottom: 5px;
    border: 2px solid rgb(107, 104, 104);
}

.row {
    flex-basis: 50px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
}

.row button {
    min-width: 60px;
    padding: 20px;
}

#back {
    min-width: 125px;
}

#calc > div:nth-child(6) > button:first-child{
    margin: 0px 65px;
}
