* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#calc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-top: 120px;
    border: 2px solid rgb(107, 104, 104);
    padding: 10px;
    gap: 5px;
}

#display {
    flex-basis: 80px;
    min-width: 320px;
    background-color: rgb(116, 115, 115);
    margin-bottom: 5px;
    color: aliceblue;
    font-weight: bold;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    border: 2px solid rgb(107, 104, 104);
}

.row {
    flex-basis: 60px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
}

.row button {
    min-width: 80px;
    padding: 20px;
    font-size: 16px;
}


#calc > div:nth-child(6) > button:first-child{
    margin: 0px 85px;
}
