body {
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > * {
    width: 50em;
}
h1 {text-align: center;}
li {list-style-type: none;}

header {
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    justify-content: space-around;
}

#game {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
}